@import "tailwindcss";

@font-face {
  font-family: Bangers;
  src: url("../src/assets/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@theme {
  --color-darkblue: #035aa6;
  --color-mediumblue: #1ea4d9;
  --color-lightblue: #2ecef2;
  --color-turquoise: #63f2f2;
  --color-icywhite: #f2f2f2;
  --color-darkgrey: #8f8f8f;
  --color-mediumgrey: #bfbfbf;
  --color-lightgrey: #f2f2f2;
  --color-darkblack: #0d0d0d;

  --font-bangers: Bangers, sans-serif;
  --font-roboto: Roboto, sans-serif;
}

/* html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);
} */
