@import "tailwindcss";

@font-face {
    font-family: Bangers;
    src: url("../src/assets/fonts/Bangers-Regular.ttf");
    font-family: Roboto;
    src: url("../src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@theme{
  --color-darkblue: #035AA6;
  --color-mediumblue: #1EA4D9;
  --color-lightblue: #2ECEF2;
  --color-turquoise: #63F2F2;
  --color-icywhite: #F2F2F2;
  --color-darkgrey: #8F8F8F;
  --color-mediumgrey: #BFBFBF;
  --color-lightgrey: #F2F2F2;
  --color-darkblack: #0D0D0D;

  --font-bangers: Bangers, sans-serif;
  --font-roboto: Roboto, sans-serif;
}

/* html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);
} */
